[package]
name = "rpick"
version = "0.6.0"
authors = ["Randy Barlow <randy@electronsweatshop.com>"]
license = "GPL-3.0"
readme = "README.md"
repository = "https://gitlab.com/bowlofeggs/rpick"
documentation = "https://docs.rs/rpick"
description = """\
              Helps you pick items from a list by various algorithms. Example uses: pick a
              restaurant you haven't been to in a while, or an album to listen to."""
keywords = ["random", "game"]
categories = ["command-line-utilities", "games"]
edition = "2018"

[dependencies]
dirs = "2"
rand = "0.7"
rand_distr = "0.2"
serde = {version = "1.0", features = ["derive"]}
serde_yaml = "0.8"
structopt = "0.3"

[dev-dependencies]
rand = {version = "0.7", features = ["small_rng"]}
rand_core = "0"
